.braintree-option {
  align-items: center;
  background-color: $yellow;
  border-color: black;
  border-style: solid;
  border-width: 0 1px 1px;
  cursor: pointer;
  display: flex;
  padding: 12px 10px;
}

[data-braintree-id="payment-options-container"] div.braintree-option {
  /*     background: #f3be1a; */
  border-color: black;
}

[data-braintree-id="choose-a-way-to-pay"] {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-top: 0.5rem;
}

[data-braintree-id="toggle"] {
  background: transparent;
}

[data-braintree-id="toggle"]:hover {
  background: transparent;
}

[data-braintree-id="toggle"] span {
  border-bottom-color: black;
}

[data-braintree-id="card"] {
  border-color: black;
}

[data-braintree-id="card-sheet-header"] {
  border-color: black;
}

[data-braintree-id="paypal"] {
  border-color: black;
}

[data-braintree-id="applePay"] {
  border-color: black;
}

.donate-amt {
  input[type="radio"] {
    display: none;

    &:checked+label {
      background-color: black;
      color: $yellow;
    }
  }
}

#amtOther {
  padding: 0.4em 0.75em 0.4em 1.85em;
  border: none;
  border-bottom: 1px solid;
  background: rgba(255,255,255,0.2);
  color: black;
  transition: background 0.15s ease-in-out;
  &:focus {
    outline: none;
    background: rgba(255,255,255,1);
  }
}

.amtOtherBlock {
  position: relative;
}

.prefix {
  position: absolute;
  top: 0.05em;
  left: 0.5em;
}

.form-control {
  width: 100%;
  line-height: 1.5;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,background 0.15s ease-in-out;
  padding: 0.4em 0.75em;
  border: none;
  border-bottom: 1px solid;
  background: rgba(255,255,255,0.2);
  color: black;
  &:focus {
    background: rgba(255,255,255,1);
    box-shadow: none;
    border-color: black;
  }
}


.form-group label,
.form-row label {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.6rem;
  margin-bottom: 0;
}

.form-group {
  margin-top: 0;
  margin-bottom: 0;
}

.form-check label {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

select {
  font-size: 1rem;
}

.form-check-input {
  margin-top: 0.5rem;
}

.custom-select {
  background-color: rgba(255,255,255,0.2);
  border: 1px solid black;
  color: black;
  width: 100%;
  font-weight: 700;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,background 0.15s ease-in-out;
  margin-bottom: 0.5rem;
  &:focus {
    background-color: rgba(255,255,255,1);
    border: 1px solid black;
  }
}
