@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bld163');
  src:  url('../fonts/icomoon.eot?bld163#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bld163') format('truetype'),
    url('../fonts/icomoon.woff?bld163') format('woff'),
    url('../fonts/icomoon.svg?bld163#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons_email:before {
  content: "\e901";
}
.icon-icons_social-facebook:before {
  content: "\e905";
}
.icon-icons_social-twitter:before {
  content: "\e907";
}
