//@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "icons";
@import "fonts";
@import "hamburgers";
$yellow: #F3BE1A;
$grey: #5e5e5e;
$mobNavHeight: 84px;

@import "braintree";

html {
  height: 100%;
  &.narrow {
    overflow: hidden;
  }
}

body {
  background: black;
  font-size: 22px;
  line-height: 1.6em;
  margin: 0;
  height: auto;
}
#app {
  background: black;
}

p {
  margin-bottom: 1.0;
  margin-top: 0.5;
}

.centre-text {
  text-align: center;
}

.topnav {
  // position: absolute;
  // top: 0;
  width: 100%;
  //background: rgba(white,0.9);
  z-index: 3;

    //
    //
    // //position: relative;
    // margin-top: $mobNavHeight;
    // bottom: 0;
    // top: auto;
    // @include media-breakpoint-up(sm) {
    //
    // }
    // @include media-breakpoint-up(md) {
    //
    //   padding-top: 0;
    // }
    // @include media-breakpoint-up(lg) {
    //   top: 0;
    //   bottom: auto;
    //   margin-top: 0;
    // }

  //
  // @include media-breakpoint-up(lg) {
  //   position: absolute;
  //   padding: 1.5em 0 0;
  // }

  .logo-group {
    font-size: 1rem;
    max-width: 50%;

    // margin: auto auto 3em;
    //margin-top:$mobNavHeight;
    @include media-breakpoint-up(md) {
      // margin: auto auto 3em;
      // margin-left: 0;
      max-width: 20.3em;
    }
    @include media-breakpoint-up(lg) {
      // margin-left: 1.5em;

    }
    @include media-breakpoint-up(xl) {
      max-width: 8.5em;
      font-size: 3rem;

      // margin-top: 1em;

    }

    .top-row-link {
      display: inline-block;
      margin-top: 1em;
      cursor: pointer;
      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }

    .bott-row {
      margin-top: 0.5em;
      display: flex;
    }

    .left-col,
    .right-col {
      position: relative;
      min-height: 1px;
    }

    .left-col {
      flex-grow: 0;
      padding-right: 0.5em;
    }

    .right-col {
      flex-grow: 2;
    }
  }

  .logos-sm {
    display: flex;
    max-width: 100%;

    .home & {
      img {
        max-width: 170px;
        max-height: 128px;
        padding: 0.8em;
      }
    }

    img {
      max-width: 100%;
      max-height: auto;
      padding: 0.8em;
      // @include media-breakpoint-up(sm) {
      //     max-width: 200px;
      //     padding: 1em 0.5em;
      // }
    }
  }
  // .main-logo {
  //     max-width: 70%;
  //     padding: 1em 0;
  //     @include media-breakpoint-up(sm) {
  //         max-width: 330px;
  //
  //     }
  // }
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: white;
}
$min_width: 400;
$max_width: 1140;
$min_font: 70;
$max_font: 150;
$h2-min_font: 36;
$h2-max_font: 88;

h1 {
  font-size: 6em;
  font-family: "Intro Black";
  color: currentColor;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  margin: 0;
  line-height:0.6;

  &.fluid {
    // font-size: 15vw;
    // @media (min-width: 1200px){
    //   font-size: 8em;
    // }
    font-size: #{$min_font}px;
    @media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
      font-size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width})));
    }
    @media (min-width: #{$max_width}px) {
      font-size: #{$max_font}px;
    }
  }

  .underline {
    border-bottom: 0.125em solid currentColor;
    display: inline-block;
    margin: 0 0 0.3em;
    padding-bottom: 0.13em;
    font-size: 0.75em;
  }
}

h2 {
  border-top: 0.125em solid currentColor;
  font-size: 4em;
  font-family: "Intro Black";
  color: currentColor;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  margin: 1em 0 0.5em;
  padding-top: 0.25em;
  line-height: 1;
  @include media-breakpoint-up(sm) {
    margin: 1em 0 1.5em;
  }

  &.fluid {
    font-size: #{$h2-min_font}px;
    @media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
      font-size: calc(#{$h2-min_font}px + (#{$h2-max_font} - #{$h2-min_font}) * ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width})));
    }
    @media (min-width: #{$max_width}px) {
      font-size: #{$h2-max_font}px;
    }
  }
}

h3 {
  font-size: 1.2em;
  border-top: 0.2em solid currentColor;
  margin: 1em 0 0.5em;
  padding-top: 0.35em;
  font-family: "Intro Black";
  color: currentColor;
  text-transform: uppercase;
  line-height: 1.05em;

  @include media-breakpoint-up(sm) {
    padding-top: 0.5em;
    max-width: 90%;
    font-size: 2em;
    margin: 2em 0 1em;
  }

}

.top-quote {
  margin-top: 0em;
}

.overlap {
  margin-top: -0.85em;
}

.video {
  color: white;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(sm) {
    color: black;
    background: #F4F4F4;
  }


  .video-bg {
    background: #F4F4F4 url("../images/headervid.jpg") no-repeat center center;
    background-size: auto 100%;
    min-height: 100vh;
    width:100%;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(sm) {
      position: absolute;
    }
  }





  video {
    display: none;
    z-index: 2;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    width: auto;
    position: relative;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}

.banner-title {
  position: relative;
  bottom: 0;

  z-index: 3;
  margin-top: 1em;
  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }

  p {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0;
    @include media-breakpoint-up(sm) {
      font-size: 1.3em;
    }
  }
}

blockquote {
  border-top: 0.2em solid currentColor;
  margin: 1em 0 0;
  padding-top: 0.5em;
  font-size: 3em;
  font-family: "Intro Black";
  color: currentColor;
  text-transform: uppercase;
  line-height: 1.05em;
  @include media-breakpoint-up(lg) {
    float: left;
  }

  .credit {
    font-size: 0.5em;
    display: inline-block;
    float: right;
  }
}

.pull-img {
  margin: 3em 0;
  position: relative;
  display: inline-block;
  @include media-breakpoint-up(lg) {
    width: 90%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  @include media-breakpoint-up(lg) {
    &.left {
      margin-left: -85%;
      float: left;
      margin-right: 3em;
    }

    &.right {
      margin-right: -85%;
      float: right;
      margin-left: 3em;
    }
  }
}

main.content {
  img {
    max-width:100%;
  }
}
@include media-breakpoint-up(lg) {
  .pull-left {
    margin-left: -41.66%;
  }

  .pull-right {
    margin-right: -41.66%;
  }
}

.caption {
  font-size: 0.7em;
  color: $grey;
  line-height: 1.6;
  display: block;
  margin-top: 0.5em;

  .credit {
    color: lighten($grey, 8);
  }
}

.fullwidth {
  width: 100%;
  background-position: center center;
  position: relative;


  background-size: cover;
  @include media-breakpoint-up(md) {

    min-height:600px;

    height:600px;
  }
  &.min-pad {
    padding-bottom: 60%;
  }
  @include media-breakpoint-up(lg) {
    min-height: 600px;
  }

  .container.fluid-mob {
    @include media-breakpoint-up(lg) {
    max-width: none;
  }
  }

  &.overlap-bot {
    font-size: #{$h2-min_font}px;
    @media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
      font-size: calc(#{$h2-min_font}px + (#{$h2-max_font} - #{$h2-min_font}) * ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width})));
    }
    @media (min-width: #{$max_width}px) {
      font-size: #{$h2-max_font}px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: -2.5em;
    }
  }

  &.overlap-dbl {
    margin-bottom: -9em;
  }

  &.fixed {
    @include media-breakpoint-up(lg) {
      background-attachment: fixed;
    }
  }

  &.sub {
    height:340px;
    min-height:340px;
    @include media-breakpoint-up(md) {
    height:auto;
  }
    @include media-breakpoint-up(lg) {
      margin-top: -110px;
    }
  }
}

.fullheight {
  padding-bottom: 0;


  @include media-breakpoint-up(lg) {
    min-height: 100vh;
  //   max-height: 100vh;
  }
}

.yellow-bg {
  background: $yellow;
  color: black;
}

.footer {
  padding: 80px 0 100px;
  margin: 50px 0 0;
  border-top: 12px solid white;

  .main-logo {
    max-width: 100%;
  }
  .acknowledgement {
	  margin: 20px 0 0 0;
	  font-size: 14px;
	  line-height: 16px;
  }

  .footer-link {
    color: white;
    opacity: 1;
    text-decoration: none;
    display: block;
    font-size: 0.8em;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
  .footer-acnc-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      max-width: 100px;
      margin: 0 50px 50px 0;
      transition: 0.25s;
    }
    img:hover {
      transform: scale(0.95);
      transition: 0.25s;
      color: black;
    }
  }
}

.acnc-logo {
  transition: 0.25s;
}

.acnc-logo:hover {
  transition: 0.25s;
  transform: scale(0.95);
}


$intro-min_font: 1.35;
$intro-max_font: 1.75;
.intro-word {
  font-family: "Intro Black";
  color: currentColor;
  text-transform: uppercase;
  display: block;
  hyphens:auto;
  line-height: 1;
  @media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
    font-size: calc(#{$intro-min_font}em + (#{$intro-max_font} - #{$intro-min_font}) * ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width})));
  }
  @media (min-width: #{$max_width}px) {
    font-size: #{$intro-max_font}em;
  }

}




.btn {
  border-radius: 0.3em;
  font-family: "Intro Black";
  font-size: 1em;
  white-space: normal;
  color: currentColor;
  border: 2px solid currentColor;
  padding: 0.5em 1.4em 0.3em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1.5em 1.5em 1.5em 0;
  display: inline-block;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  transition: all 0.2s ease-in-out;

  &.btn-secondary {
    border-color: black;
    background-color: transparent;
  }

  &.yellow {
    color: $yellow;
  }

  &:hover {
    background-color: black;
    color: $yellow;
  }
}

.round-btn {
  border-radius: 500em;
  border: 2px solid black;
  display: flex;
  width: 4.5em;
  height: 4.5em;
  margin: 0.7em 0.7em 0 0;
  line-height: 4.5em;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: "Intro Black";
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background: black;
    color: $yellow;
    text-decoration: none;
  }
  @include media-breakpoint-up(lg) {
    width: 5.7em;
    height: 5.7em;
    line-height: 5.7em;
    margin: 0.9em 0.9em 0.9em 0;
  }
}

input#amtOther {
  margin-top: 1em;
  margin-bottom: 1em;
}

.social {
  [class*=" icon-"],
  [class^="icon-"] {
    margin-right: 30px;
  }
  margin-top: 30px;
  color: white;
}

.donate-btn-top {
  flex-grow: 1;
  text-align: center;
  color: $yellow;
  position: relative;

  z-index: 1000;

  .btn {

    right: 0;
    top: 0;
    margin: 0.75em;
    font-size: 0.85em;
    @include media-breakpoint-up(lg) {
      padding: 0.5em 1.4em 0.3em;
      font-size: 0.9em;
      margin: 1em;
    }
  }

  .nav-visible & {
    @include media-breakpoint-up(xl) {
      color: black;
    }
  }

  .home.nav-hidden-home & {
    color: $yellow;
  }
}

.donate-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  position: sticky;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  z-index: 999;
  color: $yellow;
  text-align: right;
  max-height: 0;
  font-size: 1.3rem;
  transition: 0.3s background ease-in-out, 0.3s top ease-in-out, 0.3s color ease-in-out;
  margin-bottom: -$mobNavHeight;
  flex-wrap: nowrap;
  max-height: 100%;
  .home & {
    margin-bottom: 0;
  }
  @include media-breakpoint-up(xl) {
    width: 50%;
    top: -110px;
    width: 100%;
    left: 0;
    padding: 0.95em 14em 0.95em 1em;
    margin-bottom: 0;
  }

  .btn {
    margin: 1em;
    @include media-breakpoint-up(xl) {
      margin: 0;
    }
  }

  .narrow & {
    max-height: 100%;
    height: 100%;
    position: fixed;
    width: 100%;
    background: $yellow;
    color: black;

    .container {
      width: 100%;
    }

    .nav-visible & {
      top: 0;
    }

    .main-nav {
      display: flex;
      flex-direction: column;
    }
  }
  @include media-breakpoint-up(xl) {
    &.margin-bot {
      margin-bottom: 6em;
    }

    .nav-visible & {
      background: $yellow;
      color: black;
      border-bottom-color: rgba(0, 0, 0, 0.3);
      top: 0;
    }

    .nav-visible & {
      color: black;
    }

    .home.nav-hidden-home & {
      top: 0;
      background: none;
      color: $yellow;
    }
  }

  .container {
    order: 2;
    @include media-breakpoint-up(xl) {
      order: 1;
    }
  }

  .main-nav {
    display: none;
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }
}

.img-fluid {
  max-width: 100%;
}

.main-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .home & {
    margin-left: 0;
  }

  .main-nav-item {
    flex-grow: 1;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-family: "Intro Black";
    color: currentColor;
    flex-grow: 1;
    text-align: center;
    font-size: 0.8em;
    margin-top: 0.4em;
    transition: 0.2s border ease-in-out;
    display: inline-block;

    &:after {
      content: "";
      width: 0;
      transition: 0.3s width ease-in-out;
      margin: auto;
      display: block;
      border-bottom: 2px solid transparent;
    }

    &:hover {
      &:after {
        width: 80%;
        border-bottom-color: currentColor;
      }
    }
  }
}

.list {
  margin: 3em 0;
}

.listing {
  padding: 1em;
  display: block;
  color: white;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: $yellow;
    color: black;
    text-decoration: none;
  }
}

.listing-image {
  margin-bottom: 2em;
}

.m-top-tight {
  margin-top: 0.5em;
  @include media-breakpoint-up(lg) {
    margin-top: 0.2em;
  }
}

.intro-sub {
  font-size: 1.1em;
  font-weight: 700;
  text-transform: none;
}

section {
  &.donate {
    padding-bottom: 3em;
  }
}

.donate-toggle {
  color: black;
  font-weight: bold;
  display: inline-block;
  margin: 0 1em 1em 0;
  padding: 0.4em 0.6em;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;

  &:visited {
    color: black;
    text-decoration: none;
  }

  &.selected,
  &:active {
    border-bottom: 2px solid black;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 2px solid white;
    text-decoration: none;
    color: white;
  }
}

.hamburger {
  z-index: 1000;
  position: sticky;
  top: 0;
  padding: 15px 15px 0;
  order: 1;
  @include media-breakpoint-up(xl) {
    order: 2;
  }

  .narrow & {
    position: fixed;
    left: 0;

    .hamburger-inner {
      &,
      &:after,
      &:before {
        background-color: black;
      }
    }
  }

  .nav-visible & {
    .hamburger-inner {
      &,
      &:after,
      &:before {
        @include media-breakpoint-up(xl) {
          background-color: black;
        }
      }
    }
  }

  &:focus {
    outline: none;
  }
}
.modal {
  max-height:100vh;
}
.modal-dialog {
  max-width: 100%;
}
.modal-body {
  @include media-breakpoint-up(md) {
  padding:3rem;
}
    // padding-bottom: 56.25%;

}
.modal-content {
  background: transparent;
  border: 0;

}

.play-vid {
  padding-left: 1em;
  position: relative;
  display: block;
  white-space: nowrap;
  z-index: 2;
  transition: 0.2s;
  font-size: 1.1em;
  color:$yellow;
  margin-top: 1.5em;
  @include media-breakpoint-up(sm) {
    color: inherit;
    font-size: 1.7em;
  }

  &:hover {
    color: $yellow;
    text-decoration: none;

    &:before {
      border-left-color:$yellow;
    }
  }

  &:before {
    content: "";
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    top:5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $yellow;
    @include media-breakpoint-up(sm) {
      top:0;
      border-left-color:white;
      border-width: 16px;
    }
  }
}

a {
  color: #F6BD35;

  &:hover {
    color: #F6BD35;
  }
}

h4 {
  margin-top: 50px;
  font-weight: bold;
}

.row {
  .bg-yellow {
    background-color: #3a3a3a;

    h4 {
      color: #fff;
      padding: 10% 0;
    }

    p {
      color: #fff;
      padding: 10% 0;
    }
  }

  .bg-grey {
    background-color: #232323;

    h4 {
      color: #fff;
      padding: 10% 0;
    }

    p {
      color: #fff;
      padding: 10% 0;
    }
  }
}

.profile-img {
  padding: 0 0 5%;

}



iframe.map {
  border:0;
  box-shadow: none;
  line-height: 0;

    margin-bottom:-50px;

}

.sponsor-container {
  text-align: center;
  .sponsor-logo {
    width: 100%;
    position: relative;
    padding: 20px 10px;

    &.uom {
      height: 50%;
      width: 50%;
      text-align: center;
    }
  }
}

.banner-wrap {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 1rem;
  .sub & {
    align-items: flex-end;
    height: 100%;
    @include media-breakpoint-up(md) {
      padding-top: 10em;
      min-height:600px;

      height:600px;
    }
    @include media-breakpoint-up(lg) {
      align-items: flex-start;
    }
  }
  @include media-breakpoint-up(sm) {
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 2em;
  }


  @include media-breakpoint-up(lg) {
    min-height:100vh;
    padding-top: 3em;
    padding-right: 4em;
    padding-bottom: 3em;
    padding-left: 4em;
  }
  .topnav {
    flex-grow: 1;
  }
}
.title-wrap {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width:100%;
  bottom:0;
  margin-top: 2em;


  .left, .right {
    flex-grow: 1;
    position: relative;

  }
  .left {
    display: flex;
    align-items: flex-end;
  }
  .right {
    display: flex;

    align-items: flex-end;
    @include media-breakpoint-up(lg) {
  justify-content: flex-end;
    }
  }

}

.nav-top-bar {
  display: flex;
  color: $yellow;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  align-items: center;
  &.sticky {
    position: sticky;
    .donate-btn-top {
      position: absolute;
      right:0;
      top:0;
    }
  }
  .play-arrow {
    flex-grow: 1;
    position: relative;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.7em;
    a {
      color:inherit;
    }
    .play-vid-inner {
      &:after {
    	left: -15px;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;

    	border-color: rgba(0, 0, 0, 0);
    	border-left-color: $yellow;
    	border-width: 12px;
    	margin-top: -12px;
      @include media-breakpoint-up(md) {
        border-width: 8px;
        margin-top: -8px;
      }
      .nav-visible & {
        @include media-breakpoint-up(xl) {
          border-left-color: black;
        }
      }
    }
  }

    .nav-visible & {
      @include media-breakpoint-up(xl) {
        color: black;
      }
    }

    .home.nav-hidden-home & {
      color: $yellow;
    }
  }
  .donate-btn-top {
    flex-grow: 0;
    min-width: 180px;

  }
}
